# ignore python cache
__pycache__/
*.pyc

# ignore sensitive dataset with big files
*.dcm
*.nii
*.nii.gz
PANCREAS_2/
data/

# ignore env config
.vscode/

# ignore generated analysis reports with sensitive data
analysis/reports/
.ipynb_checkpoints/

# ignore local archive backups (keep locally, never commit)
*.zip
*.ZIP